* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0a0a0a;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
    position: relative;
}

.info {
    color: #ffffff;
    text-decoration: none;
}

.info:hover {
    color: #1da1f2;
}

.text-2xl {
    font-size: 1.6rem !important;
    text-transform: uppercase;
}

.list-disc li{
    font-size: 1.1rem;
}

.swot-title, .bmc-title, .sr-title, .contact-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.toast-container.show {
    opacity: 1;
    transform: translateY(0);
}